@use "../../variables" as variables;

.header {
  height: 200px;
  padding: variables.$spacing * 2px;
  position: relative;

  h1 {
    margin-top: 100px;
    margin-bottom: 0;
    font-weight: 300;
  }
}

.bgImage {
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.4) opacity(0.2);
}
