@use "variables" as variables;

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  color: variables.$lightText;

  background: linear-gradient(312deg, #25232f, #32294d, #332c47, #352d4e);
  background-size: 800% 800%;
  animation: background-animation 8s ease infinite;
}

@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
@-moz-keyframes background-animation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}

a {
  color: variables.$lightText;
  text-decoration: none;
  transition: color 1s;

  &:hover {
    color: variables.$linkText;
  }
}

p {
  margin: 16px 0;
  margin-block-end: 0;
}
